.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button{
  margin: 5px;
}

button:disabled{
  cursor: not-allowed;
}

form{
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width:40%;
  border: 1px black solid;
  border-radius: 10px;
}

